<%= include header %>
  <div align="center">
    <img src="">
  </div> 

  <div class="container" align="center">
    <form class="form-sign-in">
      <div>
        <input type="text" placeholder="First Name" size="20" />
        <input type="text" placeholder="Last Name" size="20">
      </div>
      <div>
      <input type="email" placeholder="Email Address">
      </div>
      <input type="password" placeholder="Password">
    </form>
    <div align="center">
      <a href="#" class="btn btn-large btn-danger">Log in</a>
      <a href="#" class="btn btn-large btn-danger">Sign up</a>
    </div>
  </div>

    <script>
      form = document.getElementById("loginForm");
      function login() {
        form.action = "order.html";
        form.submit;
      }
      function signup() {
        form.action = "signup.html";
        form.submit;
      }
    </script>
    
<%= include footer %>
