<%= include header %>

	<form id = "loginForm" align="center" action ="" method="POST">
      <div>
        <input type="email" placeholder="Email Address" size="40" />
      </div>
      <div>
        <input type="password" placeholder="Password" size="40" />
      </div>
      <div>
        <input type="submit" value="Log in" onclick="login()">
        <input type="submit" value="Sign up" onclick="signup()">
      </div>
    </form>

<%= include footer %>