<%= include header %>
  
  <body align="center" class="span6" onload="displayAddresses()" style="background-color:#A40004">
<style>
    .hidden { display: none; }
    .popup {position: absolute; top:0px; left: 0px; height:500px; background-color:rgba(255,255,255,0.4);}
  </style>
  
    <div align="center" class="container span6">
    </div>

    <div align="center" class="container span6">
      <div id="orderPopUp" class = "hidden popup span6"></br></br></br></br></br></br>
    <p><a href="#" class="btn btn-large btn-warning" onclick="continueOn()">Purchase</a></p>
    <font color="black"><strong><p id="dishname"></p>
    <p id="restaurant"></p>
    <p id="totalprice"></p></strong></font>
    <div align="center">
          <button type="button" class="btn btn-large btn-danger" onclick="backToMenu()">Go Back</a>
          <button type="button" class="btn btn-large btn-success offset1" onclick="showMeal()">Try Again</a>
    </div>

  </div>
      <div class="page-header">
        <h1><img src="http://i.picresize.com/images/2013/11/09/L0awx.png"/> <font color="white">Choose Your Fate</font> <a href="settings">
          <img src="http://www.clker.com/cliparts/j/V/R/4/3/s/cog-cogwheel-gear-zahnrad-md.png" height="20" width="20" align="right" class="img-responsive" alt="Responsive image">
        </a></h1>
      </div>
    <div id="mainMenu">  
      <div align="center" class="container span6">
       <select id = "addressList" onchange="selectCurrentAddress()">
       </select>
      </div>
      
      <div>
        <font color="white">Maximum Willing to Pay</font>
      </div>
      <div>
        <input type=range id='priceslider' min=5 max=50 value=25 step=1 onchange="outputUpdate(value)">
      </div>
      <h1>
        <font color="white">$</font>
        <output id=price><font size="7" color="white">25</font></output>
        <script>

          function outputUpdate(price) {
          document.querySelector('#price').value = price;
          }
        </script>
      </h1>
      <span style="white-space:nowrap">
        <div align="span12">
          <a href="#" class="text-center offset1 span1 btn btn-large btn-default" onclick="orderPopup(); lameTime(); showMeal()">Suggest</a>
          <a href="#" class="span1 btn btn-large btn-success" onclick="maniaTime()">MANIA</a>
          <script>
          function orderPopup()
              {
                $(function () {
                   $('#orderPopUp').removeClass('hidden');
                   $('#mainMenu').addClass('hidden');
                });
              }
            function backToMenu()
              {
                $(function () {
                   $('#mainMenu').removeClass('hidden');
                   $('#orderPopUp').addClass('hidden');
                });
              }
          </script>
<!--      
          <input type="button" value="MANIA" onclick="">
          <input class="offset1" type="button" value="GO" onclick="urlChange()">
 -->
          <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
          <script>
            function maniaTime()
            {
              localStorage.setItem("lameness", 0);
              window.location="finish";
            }
            function lameTime()
            {
              localStorage.setItem("lameness", 1);
            }
            function showMeal() {
              var user = JSON.parse(localStorage.getItem("user"));
              var base_url = "http://ec2-54-200-88-29.us-west-2.compute.amazonaws.com:8080/";
              var price = document.getElementById("price").value;
              $.ajax({
                url:base_url + "meal/" + user['id'] + "/" + price +"/"+localStorage.currentAddress
              })
              .done(function (data) {
                localStorage.setItem("order", JSON.stringify(data));
                console.log(localStorage.getItem("order"));
              });

              var order = JSON.parse(localStorage.getItem("order"));
              if (order["core"].length==undefined) {
                document.getElementById('dishname').innerHTML=order["core"]["name"];
                document.getElementById('restaurant').innerHTML=order["core"]["rest"]["name"];
                document.getElementById('totalprice').innerHTML="$"+(parseInt(100*order.total))/100.0;
              }
              else {
                document.getElementById('dishname').innerHTML=order["core"][0]["name"];
                document.getElementById('restaurant').innerHTML=order["core"][0]["rest"]["name"];
                document.getElementById('totalprice').innerHTML="$"+(parseInt(100*order.total))/100.0;
              }
            }
            function displayAddresses()
            {
              localStorage.setItem('currentAddress', JSON.parse(localStorage.getItem('user')).nicks[0]);
              var addresses = JSON.parse(localStorage.getItem('user')).nicks;
              for (var i=0;i<addresses.length;i++){
                document.getElementById('addressList').innerHTML+="<option value='"+i+"'>" +addresses[i]+"</option>";
              }
            }
            function selectCurrentAddress()
            {
                var choice = document.getElementById('addressList').value;
                localStorage.setItem('currentAddress', JSON.parse(localStorage.getItem('user')).nicks[choice]);
            }
            function continueOn()
            {
              window.location="finish";
            }
          </script>
        </div>
      </span>
      </div>
    </div>
        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="../public/js/bootstrap.js"></script>
  </body>
</html>