<%= include header %>


  <body style="background-color:#A40004" align="center" onLoad="displayAllergies(); displayCards(); displayAddresses()">
    <div align="center" class="container">
      <div class="page-header" align="center">
      <h1><img src="http://www.mealmaniac.com/img/Logo.png"/><a href="settings">
        <!-- <img src="http://www.clker.com/cliparts/j/V/R/4/3/s/cog-cogwheel-gear-zahnrad-md.png" height="20" width="20" class="img-responsive" alt="Responsive image"> -->
      </a></h1>
    </div>

    <form id="settings" method="POST">
      <table class="table table-striped table-bordered" align="center" style="margin: 0px auto; width:30%">
        <thead></thead>
        <tbody>
          <tr>  
            <td align="center" >Full Name</td>
            <td><input  type="text" placeholder="First Name" id="first"><input  type="text" placeholder="Last Name" id="last"></td>
          </tr>
          <tr>
            <td align="center">Email</td>
            <td><input type="email" placeholder="" id="email"></td>
          </tr>
          <tr>
            <td align="center">Telephone</td>
            <td><input type="tel" placeholder="Number" id="phone"></td>
          </tr>
          <tr>
            <td align="center">Address</td>
            <td>
              <select id="addresses">
              </select>
              <input type="button" value="Add" onclick="addressPopup()">
            </td>
          </tr>
            <td align="center" >Tip</td>
            <td>  
              <select id="tip" onchange="changeTip()">
                <option value="10">10%</button>
                <option value="15">15%</button>
                <option value="20">20%</button>
              </select>
            </td>
          </tr>
          <tr>
            <td align="center" >Vegetarian</td>
            <td>  
              <form id="vegetarian" onchange="changeVegetarian()">
                YES <input type="radio" name="group1" value="Yes">
                NO <input type="radio" name="group1" value="No" checked>
              </form>
            </td>
          </tr>
          <tr>
            <td >Restrictions</td>
            <td>
              <textarea rows="4" cols="40"  placeholder="Add additional restrictions here" id="allergies"></textarea>
              <input type="button" value="Add" onclick="addAllergy()">
            </td>
          </tr>
          <tr>
            <td >Cards</td>
            <td>
              <select id="cards">
              </select>
              <input type="button" value="Add" onclick="cardPopup()">
            </td>
          </tr>    
          </tbody>
        </table>
        <!-- <a href="" class="btn btn-large btn-danger" onclick="goBack()">Go Back</a> -->
      </form>
      <div id="addressPopUp" class="hidden popup" style=""> 
        <p><font>New Address:</font></p>
        <form onsubmit="addAddress()">
          <p><input type="text" id="newAddress" placeholder="New Address"></p>
          <p><input type="text" id="newNick" placeholder="Name of New Address"></p>
          <input type="submit" style="position:absolute; left:-9999px">
        </form>
      </div>
      <div id="cardPopUp" class="hidden popup" style=""> 
        <p><font>New Card:</font></p>
        <form onsubmit="addCard()">
          <p><input type="text" id="newCardNumber" placeholder="New Card Number"></p>
          <p><input type="text" id="newCardCode" placeholder="Card 3-digit code"></p>
          <p>Expiration Date:</p>
          <p><input type="text" id="newCardExpMonth" placeholder="MM">
            <input type="text" id="newCardExpYear" placeholder="YYYY"></p>
          <input type="submit" style="position:absolute; left:-9999px">
        </form>
      </div>
      <input type="button" value="Done" onclick="exitSettings()">
    </div>
    <script>
      function addAllergy() {
        var user = JSON.parse(localStorage.getItem('user'));
        user.restrictions=document.getElementById('allergies').value;
        localStorage.setItem('user', JSON.stringify(user));
      }
      function addressPopup()
      {
        $(function () {
           $('#addressPopUp').removeClass('hidden');
        });
      }
      function addAddress() {
        var newAddress = document.getElementById('newAddress').value;
        var newNickname = document.getElementById('newNick').value;
        var user = JSON.parse(localStorage.getItem('user'));
        user.addresses.push(newAddress);
        user.nicks.push(newNickname);
        console.log(user.addresses);
        localStorage.setItem('user', JSON.stringify(user));
      }
      function addCard() {
        var user=JSON.parse(localStorage.getItem('user'));
        var newCard = new Object();
        newCard.number = document.getElementById('newCardNumber').value;
        newCard.code = document.getElementById('newCardCode').value;
        newCard.month = document.getElementById('newCardExpMonth').value;
        newCard.year = document.getElementById('newCardExpYear').value;
        user.cards.push(newCard);
        localStorage.setItem('user', JSON.stringify(user));
        displayCards();
      }
      function cardPopup() {
        $(function () {
           $('#cardPopUp').removeClass('hidden');
        });
      }
      function closeAddressPopup()
      {
        $(function () {
           $('#addressPopUp').addClass('hidden');
        });
      }
      function displayCards()
      {
        var creditCards = JSON.parse(localStorage.getItem('user')).cards;
        for (var i=0;i<creditCards.length;i++){
          document.getElementById('cards').innerHTML+="<option value='"+i+"'>" +creditCards[i].number+"</option>";
        }
      }
      function displayAllergies()
      {
        document.getElementById('allergies').value=JSON.parse(localStorage.getItem('user')).restrictions;
      }
      function displayAddresses()
      {
        var addresses = JSON.parse(localStorage.getItem('user')).nicks;
        for (var i=0;i<addresses.length;i++){
          document.getElementById('addresses').innerHTML+="<option value='"+i+"'>" +addresses[i]+"</option>";
        }
      }
      function exitSettings()
      {
        window.location="order";
      }
      function changeEmail()
      {
        var user = JSON.parse(localStorage.getItem('user'));
          user.email=document.getElementById('email').value;
          localStorage.setItem('user', JSON.stringify(user));
      }
      function changeFirst()
      {
          var user = JSON.parse(localStorage.getItem('user'));
          user.first=document.getElementById('first').value;
          localStorage.setItem('user', JSON.stringify(user));
      }
      function changeLast()
      {
          var user = JSON.parse(localStorage.getItem('user'));
          user.last=document.getElementById('last').value;
          localStorage.setItem('user', JSON.stringify(user));
      }
      function changeMiddle()
      {
        var user = JSON.parse(localStorage.getItem('user'));
          user.middle=document.getElementById('middle').value;
          localStorage.setItem('user', JSON.stringify(user));
      }
      function changePhone()
      {
          var user = JSON.parse(localStorage.getItem('user'));
          user.phone=document.getElementById('phone').value;
          localStorage.setItem('user', JSON.stringify(user));
      }
      function changeTip()
      {
          var user = JSON.parse(localStorage.getItem('user'));
          user.tip=document.getElementById('tip').value;
          localStorage.setItem('user', JSON.stringify(user));
      }
      function changeVegetarian()
      {
        var user=JSON.parse(localStorage.getItem("user"));
        user.vegetarian =documents.getElementById("vegetarian").value;
        localStorage.setItem(localStorage);
      }
      </script>
    </form> 
<%= include footer %>